* {
    font-family: Georgia, serif;
    text-align: center;
}
header,
footer {
    background-color: #4BA3C7;
    color: white;
    height: 80px;
    font-size: 120%;
}
div#left,
div#right {
    width: 25%;
    float: left;
    background-color: #EFEFEF;
    height: 400px;
}
div#center {
    width: 50%;
    float: left;
    background-color: #90CAF9;
    height: 400px;
}
footer {
    clear: both;
}
table {
    margin-left: 10px;
    width: 90%;
    border: 1px solid #90CAF9;
}
td {
    padding: 5px;
    border: 1px solid #90CAF9;
}
tr:hover {
    color: #90CAF9;
}
input {
    margin: 15px 0;
}