* {
    font-family: Garamond;
    text-align: center;
    overflow: auto;
}
div#left {
    width: 72%;
    float: left;
}
header {
    background-color: #795548;
    font-size: 170%;
}
main#center {
    height: 400px;
}
div#right {
    width: 28%;
    float: left;
}
aside {
    background-color: #BCAAA4;
    color: #795548;
    height: 400px;
    
}
footer {
    clear: both;
    background-color: #795548;
    color: white;
    padding:20px;
}
table {
    margin: auto;
    width: 80%;
    border: solid 1px #795548;
}
tr:hover {
    background-color: sienna;
    color: white;
}
h4{
    font-size: 200%;
}
img {
    padding: 20px;
    border-radius: 40px;
}
a {
    color: white;
}
input[type=radio] {
    margin: 7px;
}